name: Aspose Cells Cloud SDK for Python

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: windows-latest
    env:
      CellsCloudClientId: ${{ secrets.PRODUCTCLIENTID }}
      CellsCloudClientSecret: ${{ secrets.PRODUCTCLIENTSECRET }}

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Install Aspose Cells Cloud
      run: pip install .
    - name: Run Examples
      run: |
        cd examples
        python .\Example_QuickStart.py
        python .\Conversion\Example_ConvertChart.py
        python .\Conversion\Example_ConvertTable.py
        python .\Conversion\Example_ConvertRange.py
        python .\Conversion\Example_ConvertWorksheet.py
        python .\Conversion\Example_ConvertExcel.py
        python .\Conversion\Example_ConvertWorksheetToHtmlTable.py
        python .\Conversion\Example_SaveAs.py
        python .\TextProcessing\Example_TextProcessing.py
        python .\TextProcessing\Example_TextProcessing_40.py
        python .\Management\Example_CheckExcel.py
        python .\Management\Example_CloudStorageManagement.py
        python .\Management\Example_Management.py
        python .\Management\Example_WorkbookSetting.py
        python .\Transform\Example_DataCleaning.py
        python .\DataProcessing\Example_ExcelSplit.py
        python .\DataProcessing\Example_DataProcessing.py
        python .\AI\Example_DecomposeUserTask.py
